<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UILaunchPlacementParameters</key>
	<dict>
		<key>PreferredLaunchSize</key>
		<dict>
			<key>Height</key>
			<integer>300</integer>
			<key>Width</key>
			<integer>300</integer>
		</dict>
		<key>PreferredPlacementTarget</key>
		<dict>
			<key>Default</key>
			<dict>
				<key>Alignment</key>
				<string>Horizontal</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
